body {
  background-color: $black;
  background-image: url('../img/dots.svg');
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ---------------- Typography ---------------- */

h1 {
  width: fit-content;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    left: 0;
    bottom: -2.5px;
    background: $brandGradient;
  }
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

  span {
    color: $primaryColor;
    font-weight: 800;
  }
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

h4 {
  width: fit-content;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    left: 0;
    bottom: -2.5px;
    background: $brandGradient;
  }
}

h6 {
  background: -webkit-linear-gradient($primaryColor, $secondaryColor);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 140%;
}

/* ---------------- Buttons ---------------- */

button,
#button,
#button-2 {
  all: unset;
  @include flex($gap: 0.5rem);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.primary {
    color: $white;
    background: $brandGradient;
  }

  &.secondary {
    /* color: linear-gradient(97.95deg, $primaryColor -0.24%, $secondaryColor 99.8%); ------> não funciona assim */
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background: $black;
  }

  &.text-only {
    color: $white;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(166, 97, 255, 0.50);
  }
}

#button {
  width: fit-content;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  @include mobile() {
    padding: 1rem;
  }
}

#button-2 {
  align-self: flex-end;
}

/* ---------------- Header ---------------- */

header {

  nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 4rem;
    z-index: 3;
    transition: all 0.3s;

    @include tablet() {
      padding: 1.5rem 2rem;
    }

    @include tablet() {
      padding: 1rem;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
        a {
          font-size: 1rem;
          text-decoration: none;
          text-transform: uppercase;

          &:not(#logo) {
            opacity: 0.9;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      @include mobile() {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.4s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        height: 100vh;
        background: black;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li a {
          font-size: 2rem;
        }

        #button {
          position: fixed;
          width: 80%;
          bottom: 2rem;
          left: 50%;
          transform: translate(-50%, 100vh);
          transition: transform 0.4s;
        }

        &.showMenu {
          transform: translateY(0);

          #button {
            transform: translate(-50%, 0);
            transition: transform 0.4s;
          }
        }
      }
    }

    &.active {
      background: rgba(16, 16, 16, 0.65);
      backdrop-filter: blur(5px);

      ul a:not(#logo) {
        opacity: 1;
      }
    }

    .hamburger {
      position: absolute;
      z-index: 100;
      padding: 4px;
      right: 1rem;
      cursor: pointer;
      display: none;

      >img {
        width: 32px;
      }

      .closeIcon {
        display: none;
      }

      @include mobile() {
        display: block;
      }
    }
  }
}

/* ---------------- Footer ---------------- */

footer {
  @include flex($justify: space-between, $gap: 0.5rem);
  background-image: url('../img/footer.png');
  background-size: cover;
  background-position: right;
  padding: 2rem 4rem;

  .footer-social {
    @include flex($gap: 0.25rem);

    a {
      img {
        width: 32px;
        height: 32px;
        transition: all 0.2s;

        &:hover {
          filter: drop-shadow(0px 0px 8px rgba(42, 19, 71, 0.5));
        }

        @include mobile() {
          width: 40px;
          height: 40px;
        }
      }
    }

  }

  .footer-credits {
    @include flex($justify: space-between, $gap: 0.5rem);
  }

  @include tablet() {
    padding: 2rem 4rem;
  }

  @include mobile() {
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }
}