body {
  background-color: $black;
  background-image: url('../img/dots.svg');
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white;
  box-sizing: border-box;
}

/* ---------------- Typography ---------------- */

h1 {
  width: fit-content;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    left: 0;
    bottom: -2.5px;
    background: $brandGradient;
  }
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

  span {
    color: $primaryColor;
    font-weight: 800;
  }
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

h4 {
  width: fit-content;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    left: 0;
    bottom: -2.5px;
    background: $brandGradient;
  }
}

h6 {
  background: -webkit-linear-gradient($primaryColor, $secondaryColor);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 140%;
}

/* ---------------- Buttons ---------------- */

button,
#button,
#button-2 {
  all: unset;
  @include flex($gap: 0.5rem);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.primary {
    color: $white;
    background: $brandGradient;
  }

  &.secondary {
    /* color: linear-gradient(97.95deg, $primaryColor -0.24%, $secondaryColor 99.8%); ------> não funciona assim */
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background: $black;
  }

  &.text-only {
    color: $white;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(166, 97, 255, 0.50);
  }
}

#button {
  width: fit-content;
  position: fixed;
  z-index: 20;
  top: 2rem;
  right: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  @include mobile() {
    top: 1rem;
    right: unset;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    padding: 1rem;
  }
}

#button-2 {
  align-self: flex-end;
}

/* ---------------- Header ---------------- */

header {
  padding: 2rem 8rem;

  a {
    font-size: 1.25rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* ---------------- Footer ---------------- */

footer {
  @include flex($justify: space-between, $gap: 0.5rem);
  background-image: url('../img/footer.png');
  background-size: cover;
  background-position: right;
  padding: 2rem 8rem;

  .footer-social {
    @include flex($gap: 0.25rem);

    a {
      img {
        width: 32px;
        height: 32px;
        transition: all 0.2s;

        &:hover {
          filter: drop-shadow(0px 0px 8px rgba(42, 19, 71, 0.5));
        }

      }
    }

  }

  .footer-credits {
    @include flex($justify: space-between, $gap: 0.5rem);
  }

  @include tablet() {
    padding: 2rem 4rem;
  }

  @include tablet() {
    padding: 2rem;
  }
}