#new-edition {
  @include flex($align: flex-start, $gap: 4rem);
  padding: 12rem;

  @include tablet() {
    @include flex(column, $align: flex-start, $gap: 0.5rem);
    padding: 8rem;
  }

  @include mobile () {
    padding: 2rem;
  }

  @include wide() {
    max-width: 1600px;
    margin: 0 auto;
  }

  .title {
    @include flex(column, $align: flex-start, $gap: 0.5rem);
    position: relative;
    width: 40%;

    @include tablet() {
      width: 100%;
      //padding: 2rem;
    }

    @include mobile() {
      padding: 2rem;
      margin: 0;
    }

    .text-title {
      width: 100%;

      h3:nth-child(2) {
        @include gradientText ($brandGradient);
        color: $brandGradient;
        text-align: right;

      }
    }

    img {
      position: absolute;
      z-index: -1;
      left: 24rem;
      transform: translate(-50%);

      @include mobile() {
        left: 8rem;
        width: 100%;

      }

    }
  }

  .text-info {
    @include flex(column, $align: flex-start, $gap: 1rem);
    width: 55%;
    padding-top: 4rem;

    @include tablet() {
      width: 100%;
    }

    a {
      width: fit-content;
      align-self: flex-start;
    }
  }
}