/* ---------------- Call for papers ---------------- */

#papers {
  min-height: 100vh;
  padding: 2rem 0;

  .text-info {
    @include flex(column, $align: flex-start, $gap: 1rem);
    width: 65%;
    padding: 2rem 12rem;
    position: relative;


    @include wide() {
      max-width: 1600px;
      margin: 0 auto;
    }

    @include tablet {
      width: 100%;
      padding: 2rem 4rem;
    }

    @include mobile {
      padding: 0 2rem;
    }

    >img {
      position: absolute;
      z-index: -1;
      left: calc(12rem - 5rem);
      top: -2rem;

      @include tablet() {
        left: 2rem;
        top: -4rem;
      }

      @include tablet() {
        left: -2rem;
      }
    }

    ul {
      list-style: none;

      li {
        @include flex($justify: flex-start, $gap: 0.5rem);
        margin-bottom: 0.5rem;
      }
    }
  }

  .submit-proposal {
    background: rgba(255, 255, 255, 0.04);
    border: 2px solid $primaryColor;
    padding: 2rem;
    margin: 2rem 12rem;
    border-radius: 10px;
    overflow: hidden;
    min-height: 324px;

    @include wide() {
      max-width: 920px;
      margin: 0 auto;
    }

    @include tablet() {
      margin: 2rem 4rem;
    }

    @include tablet() {
      margin: 2rem;
    }

    .soon {
      @include flex();
      padding: 5rem 0;
      opacity: 0.5;
    }
  }
}