/* ---------------- Call for papers ---------------- */

#papers {
  min-height: 100vh;
  padding: 2rem 0;

  .text-info {
    @include flex(column, $align: flex-start, $gap: 1rem);
    width: 65%;
    padding: 2rem 12rem;
    position: relative;

    >img {
      position: absolute;
      z-index: -1;
      left: calc(12rem - 5rem);
      top: -2rem;
    }

    ul {
      list-style: none;

      li {
        @include flex($justify: flex-start, $gap: 0.5rem);
        margin-bottom: 0.5rem;
      }
    }
  }

  .submit-proposal {
    background: rgba(255, 255, 255, 0.04);
    margin: 2rem 12rem;
    border-radius: 10px;
    overflow: hidden;

    &-wrapper {
      padding: 4rem;
      border-radius: 10px;
      border: 4px solid;
      border-image: $brandGradient 1;
    }
  }
}