@charset "UTF-8";
/* ---------------- Who are we? ---------------- */
#about > img {
  width: 100%;
}
#about h1,
#about p {
  margin: 0 12rem;
}
@media only screen and (max-width: 1024px) {
  #about h1,
  #about p {
    margin: 4rem 8rem;
  }
}
@media only screen and (max-width: 640px) {
  #about h1,
  #about p {
    margin: 2rem 2rem;
  }
}
#about p {
  width: 45%;
  margin: 2rem 12rem 4rem 12rem;
}
@media only screen and (max-width: 1024px) {
  #about p {
    width: 100%;
    margin: 0;
    padding: 4rem 8rem;
  }
}
@media only screen and (max-width: 640px) {
  #about p {
    padding: 2rem;
  }
}
#about .about-bottom {
  position: relative;
}
#about .about-bottom .focus {
  z-index: -1;
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: 0;
}

/* ---------------- Cover ---------------- */
#cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: unset;
  min-height: 100vh;
  position: relative;
}
#cover .focus {
  position: absolute;
  top: 0;
  left: 0;
}
#cover .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
#cover .center img {
  width: 468px;
  max-width: 75%;
}

#hello .text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 65%;
  padding: 2rem 12rem;
  position: relative;
}
@media only screen and (min-width: 1600px) {
  #hello .text-info {
    max-width: 1600px;
    margin: 0 auto;
    transform: translateX(-10%);
  }
}
@media only screen and (max-width: 1024px) {
  #hello .text-info {
    padding: 2rem 8rem;
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  #hello .text-info {
    padding: 2rem;
  }
}
#hello .text-info img {
  position: absolute;
  z-index: -1;
  left: 7rem;
  top: -2rem;
}
@media only screen and (max-width: 1024px) {
  #hello .text-info img {
    left: 2rem;
    top: -4rem;
  }
}
@media only screen and (max-width: 1024px) {
  #hello .text-info img {
    left: -2rem;
  }
}

/* ---------------- Join Us ---------------- */
#join-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: unset;
  padding: 4rem 12rem;
  min-height: 75vh;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  #join-us {
    padding: 4rem 8rem;
  }
}
@media only screen and (max-width: 640px) {
  #join-us {
    padding: 2rem;
  }
}
#join-us .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3rem 4rem;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 0.5rem;
  border: 1px solid #A661FF;
}
@media only screen and (max-width: 640px) {
  #join-us .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
}
#join-us .card button {
  align-self: flex-end;
}
@media only screen and (max-width: 640px) {
  #join-us .card button {
    width: 90%;
    align-self: unset;
  }
}
#join-us img {
  position: absolute;
  z-index: -1;
  transform: translateY(-50%);
  top: 30%;
  right: -3rem;
}

/* ---------------- Call for papers ---------------- */
#papers {
  min-height: 100vh;
  padding: 2rem 0;
}
#papers .text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 65%;
  padding: 2rem 12rem;
  position: relative;
}
@media only screen and (min-width: 1600px) {
  #papers .text-info {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  #papers .text-info {
    width: 100%;
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 640px) {
  #papers .text-info {
    padding: 0 2rem;
  }
}
#papers .text-info > img {
  position: absolute;
  z-index: -1;
  left: 7rem;
  top: -2rem;
}
@media only screen and (max-width: 1024px) {
  #papers .text-info > img {
    left: 2rem;
    top: -4rem;
  }
}
@media only screen and (max-width: 1024px) {
  #papers .text-info > img {
    left: -2rem;
  }
}
#papers .text-info ul {
  list-style: none;
}
#papers .text-info ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
#papers .submit-proposal {
  background: rgba(255, 255, 255, 0.04);
  border: 2px solid #A661FF;
  padding: 2rem;
  margin: 2rem 12rem;
  border-radius: 10px;
  overflow: hidden;
  min-height: 324px;
}
@media only screen and (min-width: 1600px) {
  #papers .submit-proposal {
    max-width: 920px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  #papers .submit-proposal {
    margin: 2rem 4rem;
  }
}
@media only screen and (max-width: 1024px) {
  #papers .submit-proposal {
    margin: 2rem;
  }
}
#papers .submit-proposal .soon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: unset;
  padding: 5rem 0;
  opacity: 0.5;
}

#partners {
  position: relative;
  overflow: hidden;
}
#partners .focus {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: -10rem;
}
#partners .partners-container {
  padding: 4rem 12rem;
}
@media only screen and (max-width: 1024px) {
  #partners .partners-container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 640px) {
  #partners .partners-container {
    padding: 2rem;
  }
}
#partners .partners-container-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
  padding: 8rem 0;
}
@media only screen and (max-width: 1024px) {
  #partners .partners-container-grid {
    padding: 4rem;
  }
}
@media only screen and (max-width: 640px) {
  #partners .partners-container-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 4rem 2rem;
  }
}
#partners .partners-container-grid > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: unset;
  width: calc(25% - 8rem);
  height: 68px;
}
@media only screen and (max-width: 1024px) {
  #partners .partners-container-grid > a {
    width: calc(33.3333333333% - 4rem);
    height: 42px;
  }
}
@media only screen and (max-width: 640px) {
  #partners .partners-container-grid > a {
    width: calc(50% - 2rem);
    height: 42px;
  }
}
#partners .partners-container-grid > a img {
  width: auto;
  height: 100%;
  transition: 0.3s;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#where-to {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  padding: 12rem 0 12rem 0;
}
@media only screen and (max-width: 1024px) {
  #where-to {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 640px) {
  #where-to {
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 1600px) {
  #where-to {
    max-width: 1600px;
    margin: 0 auto;
  }
}
#where-to .text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 8rem 0 2rem;
  margin: 0 12rem;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  #where-to .text-info {
    padding: 2rem;
    margin: 0 8rem;
  }
}
@media only screen and (max-width: 640px) {
  #where-to .text-info {
    padding: 2rem;
    margin: 0;
  }
}
#where-to .text-info img {
  position: absolute;
  z-index: -1;
  right: -2rem;
  transform: translateY(-50%);
  top: 100%;
}
@media only screen and (max-width: 640px) {
  #where-to .text-info img {
    right: 2rem;
    width: 80%;
  }
}

body {
  background-color: #101010;
  background-image: url("../img/dots.svg");
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
}

/* ---------------- Typography ---------------- */
h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  position: relative;
}
h1::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  left: 0;
  bottom: -2.5px;
  background: linear-gradient(97.95deg, #A661FF -0.24%, #474FFF 99.8%);
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

span {
  color: #A661FF;
}

h6 {
  background: -webkit-linear-gradient(#A661FF, #474FFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 140%;
}

/* ---------------- Buttons ---------------- */
button,
#button {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
button.primary,
#button.primary {
  color: #FFFFFF;
  background: linear-gradient(97.95deg, #A661FF -0.24%, #474FFF 99.8%);
}
button.secondary,
#button.secondary {
  /* color: linear-gradient(97.95deg, $primaryColor -0.24%, $secondaryColor 99.8%); ------> não funciona assim */
  color: #A661FF;
  background: #FFFFFF;
}
button.text-only,
#button.text-only {
  color: #FFFFFF;
}

#button {
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  z-index: 20;
  top: 2rem;
  right: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ---------------- Header ---------------- */
header {
  padding: 2rem 8rem;
}
header a {
  font-size: 1.25rem;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

/* ---------------- Footer ---------------- */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  background-image: url("../img/footer.png");
  background-size: cover;
  background-position: right;
  padding: 2rem 8rem;
}
@media only screen and (max-width: 1024px) {
  footer {
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    padding: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */